@import "../../styles/styles.scss";

.homeContainer {
	text-align: center;
	height: 100%;
	background-color: $black;
}

.logoContainer {
	@extend %centered;
	color: $warmgrey;
	min-height: 100vh;
}

.logoStyle {
	height: 20vh;
	margin-bottom: 20px;
}

.title {
	margin: 0;
}

.textInfo {
	margin: 5px;
}
