@import "../../styles/styles.scss";

.notfoundContainer {
	@extend %centered;
	height: 100vh;
	background-color: $black;
}

.notfound {
	color: $black;
	background-color: $white;
	padding: 100px;
	text-align: center;
}
