.link {
	cursor: pointer;
	display: block;
	color: #03a9f3;
	font-size: 16px;
	text-align: center;
	transition: all 0.2s ease-in-out;
	text-decoration: none;
	text-transform: uppercase;
}

.link:hover {
	text-decoration: underline;
}
